<p>Meu Perfil</p>

<div>
    <div class="caixaFlex">
        <div><img src="{{ perfil.avatar }}" class="img-round text-center img-medium5"/></div>
        <div class="mx-2">
            <div class="texto-8">Nome</div>
            <div class="texto-11">{{ perfil.nome }}</div>
            <div class="texto-8">E-mail</div>
            <div class="texto-11">{{ perfil.email }}</div>
            <div class="texto-8">CPF</div>
            <div class="texto-11">{{ perfil.cpf }}</div>
            <div class="texto-8">Apelido</div>
            <div class="texto-11">{{ perfil.apelido }}</div>
        </div>
    </div>
</div>

