<!----------------------------------------------------------------------------- Parte do título e solicitação ------------------------------------------------------------------>
<div class="primeiroCabecalho mt-3 d-flex flex-column justify-content-flex-start">
    <h2 class="primeiroTitulo mb-0">Perfil</h2>
    <p class="subtitulo mt-2 mb-2">Nós precisamos de algumas informações suas para a utilização da nossa plataforma.</p>
</div>
<!----------------------------------------------------------------------------- Parte do título e solicitação ------------------------------------------------------------------>
<div class="segundoCabecalho mt-3 d-flex flex-column justify-content-flex-start">
    <h2 class="tituloAvatar mb-0">Avatar</h2>
    <p class="subtitulo mt-2 mb-2">Selecione uma imagem para seu perfil</p>
</div>
<div class="divSelecImagem d-flex justify-content-center align-items-center border rounded-1">
    <img class="imgSelecImagem" src="../../../../assets/avatar.png" alt="Imagem de avatar neutro">
    <input type="file" name="arquivos" class="caixaSelecImagem" accept="image/*" multiple/>
</div>
<!----------------------------------------------------------------------------- Parte do título e solicitação ------------------------------------------------------------------>
<div class="segundoCabecalho mt-4 d-flex flex-column justify-content-flex-start">
    <h2 class="tituloInteresses mb-0">Interesses</h2>
    <p class="subtitulo mt-2 mb-2">Selecione um ou mais temas de interesse</p>
</div>

<div class="form-check d-flex p-2 m-0 flex-wrap bd-highlight justify-content-between flex-grow-1 w-100 border rounded-1">
    <input type="search" class="caixaPesquisaForm border rounded-1 mb-2 p-2 w-100" name="" id="" placeholder="Direito">
    <div class="caixaChecks d-flex flex-wrap">
        <label class="form-check-label check1" for="idDireitoAmbiental">
            <input class="form-check-input" type="checkbox" value="" id="idDireitoAmbiental" name="nmDireitoAmbiental">                                    
            <span>Direito Ambiental</span>
        </label>

        <label class="form-check-label check2" for="idDireitoCivil">
            <input class="form-check-input" type="checkbox" value="" id="idDireitoCivil" name="nmDireitoCivil">
            <span>Direito Civil</span>
        </label>
        
        <label class="form-check-label check1" for="idDireitoPenal">
            <input class="form-check-input" type="checkbox" value="" id="idDireitoPenal" name="nmDireitoPenal">
            <span>Direito Penal</span>
        </label>
        
        <label class="form-check-label check2" for="idDireitoTribut">
            <input class="form-check-input" type="checkbox" value="" id="idDireitoTribut" name="nmDireitoTribut">
            <span>Direito Tributário</span>
        </label>

        <label class="form-check-label check1" for="idDireitoTrabalhista">
            <input class="form-check-input" type="checkbox" value="" id="idDireitoTrabalhista" name="nmDireitoTrabalhista">
            <span>Direito Trabalhista</span>
        </label>

        <label class="form-check-label check2" for="idTecnologia">
            <input class="form-check-input" type="checkbox" value="" id="idTecnologia" name="nmTecnologia">
            <span>Tecnologia</span>
        </label>
    </div>

    <div class="divBotoes d-inline-flex w-100">
        <a routerLink="/cadastro/endereco" class="w-100 h-100"><button class="botaoAnterior mt-3 text-white" type="button">&lt; Anterior</button></a>
        <a routerLink="" class="w-100 h-100"><button class="botaoFinalizar mt-3 text-white" type="submit">Finalizar</button></a>
    </div>
</div>