<main
    class="d-flex justify-content-center align-items-flex-start container w-100">
    <section class="main-section">
        <!----------------------------------------------------------------------- Parte do Ícone e título do aplicativo ---------------------------------------------------------------->
        <div class="logo d-inline-flex m-2 ms-1 mb-0">
            <img class="iconeTitulo me-2" src="../assets/livroIcone.png"
                alt="Icone de um livro representando o tema do aplicativo">
            <h1 class="escritaTitulo"> Clube de Empréstimo de Livros</h1>
        </div>
        <!--------------------------------------------------------------------------------- Menu -------------------------------------------------------------------------->
        <div class="ps-2 pe-2 w-100">
            <app-menu></app-menu>
        </div>
        <!--------------------------------------------------------------------------------- Corpo do trabalho -------------------------------------------------------------------------->
        <div class="ps-2 pe-2 w-100 scrollbar-cb">
            <router-outlet></router-outlet>
        </div>
    </section>
</main>
<!--------------------------------------------------------------------------------- Rodapé da página --------------------------------------------------------------------------->
<footer class="rodape bg-light text-center text-lg-start vw-100">
    <div class="text-center p-3 border-top">
        <div
            class="d-flex flex-row justify-content-around w-100 align-items-end ">
            <div
                class="d-flex flex-row align-items-baseline justify-content-around w-100">
                <div>
                    <h6 class="copyright text-secondary fw-normal"><small class="texto-11">©
                            2023,
                            Desenvolvido por: GRUPO 8 - ADS, Senac</small></h6>
                </div>
            </div>
        </div>
    </div>
</footer>