<div class="my-2">
    <h2 class="tituloInteresses">Pesquisa</h2>
</div>

<div class="mt-3">
    <form [formGroup]="form">
        <div class="mt-2">
            <input type="search" class="caixaPesquisaForm border rounded-1 mb-2 py-3 w-100" (search)="buscar()"
                placeholder="Digite o termo de busca" formControlName="pesquisa">
        </div>
        <div class="caixaFlex w-100">
            <div class="grow1 texto-12">Buscar por </div>
            <div class="grow2">
                <select class="form-select form-select-sm" formControlName="tipo_busca">
                    <option value="assunto">Assunto</option>
                    <option value="titulo">Título</option>
                    <option value="autor">Autor</option>
                </select>
            </div>
        </div>
    </form>
</div>
<hr />
<div class="mt-2">
    <!-- Lista de sugestões de livros -->
    <div *ngIf="livros!.length > 0; else noDataBlock">
        <div *ngFor="let livro of livros">
            <app-caixa-livro [uid]=livro.uid [livro]=livro [mostrarDadosEmprestimo]="false" [mostrarEmprestador]="false"
                [mostrarLivroStatus]="false"></app-caixa-livro>
        </div>
    </div>

    <!-- Nenhum livro a ser exibido -->
    <ng-template #noDataBlock>
        <div>
            <div class="texto-13 text-center">Nenhum livro localizado</div>
        </div>
    </ng-template>
</div>