<!----------------------------------------------------------------------------- Parte do título e solicitação ------------------------------------------------------------------>
<div class="cabecalho mt-3 d-flex flex-column justify-content-flex-start">
    <h2 class="titulo mb-0">Livro</h2>
</div>
<!------------------------------------------------------------------- Parte do formulário de solicitação de documento e nome --------------------------------------------------->
<form class="formLivro w-100 d-flex flex-column align-items-start" >
    <div class="divDados w-100 mt-3">
        <div class="mb-3 w-100 texto-13">
            <label class="mb-0" for="titulo">Título ou ISBN</label>
            <input class="form-control" name="titulo" type="text" formControlName="titulo">
        </div>
    </div>
    <!------------------------------------------------------------ Botões para voltar para página anterior ou avançar para próxima ------------------------------------------------->
</form>
<!----------------------------------------------------------------------------------- Fim do código ---------------------------------------------------------------------------->


