<div class="personal-image">
        <span class="farol bg-success"></span>
        <figure class="personal-figure">
            <img src="../../../../assets/avatar.png" class="personal-avatar" alt="avatar">
        </figure>
        <output class="nome">Fulano da Silva</output>
</div>
<div class="botoesPainel d-inline-flex justify-content-between align-items-end w-100 flex-wrap">
    <a class="linksBotoes" href="ex1">        
        <button class="botoesPerfil mensagem">
            <img src="../../../../assets/balao_chat.png" style="width: 22px; height: 22px;" alt="">
            <label for="">Mensagem</label>
        </button>
    </a>
    <a class="linksBotoes" href="ex2">
        <button class="botoesPerfil bloquear mt-1">
            <img src="../../../../assets/bloquear.png" alt="">
            <label for="">Bloquear</label> 
        </button>
    </a>
    <a class="linksBotoes" href="ex3">
        <button class="botoesPerfil addAmigo">
            <img src="../../../../assets/adicionarAmigo.png" alt="">
            <label for="">Adicionar amigo</label>
        </button>
    </a>
    <a class="linksBotoes" href="ex4">
        <button class="botoesPerfil">
            <img src="../../../../assets/denuncia.png" style="width: 25px; height: 25px;" alt="">
            <label for="">Denúncia</label>
        </button>
    </a>
</div>

<div class="divLivros mt-4 fs-5">
    <p>Livros</p>
</div>