<div class="caixaFlex">
    <div class="grow2" [ngClass]="{'texto-12': tamanho == 0, 'texto-pequeno1': tamanho == 1}"><img src="{{ usuario.avatar }}" class="img-round" [ngClass]="{'img-small': tamanho == 0, 'img-tiny1': tamanho == 1}" /> {{ usuario.nome }}</div>
    <div class="grow0" *ngIf="mostraChat"><img src="assets/balao_chat.png" class="img-tiny0 m-1 clickable" [routerLink]="['/amigos/chat/',usuario.uid]"/></div>
    <div class="grow0" *ngIf="mostraPerfil"><img src="assets/usuario.png" class="img-tiny0 m-1 clickable" [routerLink]="['/usuarios/perfil/',usuario.uid]"/></div>
</div>