<!----------------------------------------------------------------------------- Parte do título e solicitação ------------------------------------------------------------------>
<div class="cabecalho mt-3 d-flex flex-column justify-content-flex-start">
    <h2 class="titulo mb-0">Suporte</h2>
</div>

<form action="" method="post">
    <div class="divLabelRadio form-check mt-3 p-0">
        <label for="nmEstaImpedindo">A situação está te impedindo de utilizar a ferramenta?</label>
        <div class="d-flex justify-content-evenly mt-2">
            <label class="formRadioSim form-check-label d-inline-flex align-items-center justify-content-center align-contents-end" for="idEstaImpedindo">
                <input class="form-check-input" type="radio" value="" id="idEstaImpedindo" name="nmEstaImpedindo">                                    
                <span class="mt-2"></span>
                <label class="labelCheckbox ms-2 mt-2" for="idEstaImpedindo" onclick="document.getElementById('idEstaImpedindo').click()">Sim</label>
            </label>
            <label class="formRadioNao form-check-label d-inline-flex align-items-center justify-content-center align-contents-end" for="idNaoEstaImped">
                <input class="form-check-input" type="radio" value="" id="idNaoEstaImped" name="nmEstaImpedindo">                                    
                <span class="mt-2"></span>
                <label class="labelCheckbox ms-2 mt-2" for="idNaoEstaImped" onclick="document.getElementById('idNaoEstaImped').click()">Não</label>
            </label>
        </div>
    </div>
    <div class="divCaixasTexto mt-2">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Assunto</label>
            <input type="text" class="form-control caixaDeTexto" id="exampleFormControlInput1" placeholder="Qual o título da sua dúvida">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Mensagem</label>
            <textarea class="form-control caixaDeTexto" id="exampleFormControlTextarea1" rows="3"  placeholder="Descreva sua dúvida"></textarea>
          </div>
    </div>
    <button class="botaoContinuar text-white" type="submit">Enviar <img class="imgEnviar" src="../../../assets/enviar.png" alt=""></button>
</form>