<!----------------------------------------------------------------------------- Parte do título e solicitação ------------------------------------------------------------------>
<div class="cabecalho mt-3 d-flex flex-column justify-content-flex-start">
    <h2 class="titulo mb-0">Sucesso!</h2>
    <p class="subtitulo mt-2 mb-2">Seu cadastro inicial foi realizado com sucesso.</p>
    <p class="subtitulo mt-2 mb-2">Você já pode utilizar nossa plataforma, mas para obter o máximo de experiência, clique em "Próximo" e preencha o restante de seu perfil.</p>
</div>


<!------------------------------------------------------------ Botões para voltar para página anterior ou avançar para próxima ------------------------------------------------->
<div class="divBotoes d-inline-flex w-100">
    <button class="botaoProximo mt-3 text-white" type="button" [routerLink]="['/usuarios']">Meu Perfil</button>
</div>

<div class="divBotoes d-inline-flex w-100">
    <button class="botaoProximo mt-3 text-white" type="button" [routerLink]="['/home']">Ir para a página inicial</button>
</div>

<!----------------------------------------------------------------------------------- Fim do código ---------------------------------------------------------------------------->