<!-------------------------------------------------------------- Parte do "Bem Vindo" e mensagem de solicitação de credenciais ------------------------------------------------->
<div class="header mt-3 d-flex flex-column justify-content-flex-start">
    <h2 class="title mb-0"> Bem vindo!</h2>
    <p class="subtitle mt-2 mb-2">Para acessar sua conta, é necessário entrar com suas credenciais</p>
</div>
<!-------------------------------------------------------------------- Parte do formulário de input de usuário e senha --------------------------------------------------------->
<form class="formLogin w-100 d-flex flex-column align-items-start" action="" method="post">
    <label class="mb-0" for="user">Endereço de E-mail</label>
    <input class="caixaDeTexto shadow-sm" type="text">

    <label class="mb-0" for="password">Senha</label>
    <input class="caixaDeTexto shadow-sm" type="password">
<!------------------------------------------------------------------------------ Check box "Manter conectado" ------------------------------------------------------------------>
    <div class="form-check mt-3 p-0">
        <label class="form-check-label d-inline-flex align-items-center justify-content-center align-contents-end" for="flexCheckDefault">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="manterConectado">                                    
            <span class="mt-2"></span>
            <label class="labelCheckbox ms-2 mt-2" for="manterConectado" onclick="document.getElementById('flexCheckDefault').click()">Mantenha-me conectado</label>
        </label>
    </div>
<!------------------------------------------------------------------------------ Botão para realizar login --------------------------------------------------------------------->
    <button class="botaoContinuar mt-3 text-white" type="button">Continuar</button>
</form>
<!------------------------------------------------------------------------------- Parte do conecte-se com ---------------------------------------------------------------------->
<div class="d-inline-flex container-fluid mt-4 p-1 justify-content-center align-items-center">
    <hr class="linhaTextoRedes mt-0 bg-dark">
        <p class="textoRedes ms-2 me-2">ou conecte-se com</p>
    <hr class="linhaTextoRedes mt-0 bg-dark">
</div>
<!-------------------------------------------------------------------- Parte dos botões para login com vinculo de conta -------------------------------------------------------->

<div class="botoesVinculo w-100 d-inline-flex justify-content-center">
    <button class="botaoGoogle p-0 d-inline-flex align-items-start">
        <a href="" target="_blank" class="me-1 ms-2 link-grayish"><img src="../assets/iconeGoogle.png" alt="Icone Google" width="40" height="30">
            <i class="fab fa-google-f"></i>
        </a>
        <p>Google</p>
    </button>
    <button class="botaoApple p-0 d-inline-flex align-items-start">
        <a href="" target="_blank" class="link-grayish"><img src="../assets/iconeApple.png" alt="Icone Apple" width="40" height="30">
            <i class="fab fa-apple-f"></i>
        </a>
        <p>Apple</p>
    </button>
    <button class="botaoFacebook p-0 d-inline-flex align-items-start">
        <a href="" target="_blank" class="link-grayish"><img src="../assets/iconeFacebook.png" alt="Icone Facebook" width="40" height="30">
            <i class="fab fa-facebook-f"></i>
        </a>
        <p>Facebook</p>
    </button>
</div>
<!----------------------------------------------------------------- Mensagem caso não tenha cadastro e link para cadastro ------------------------------------------------------>
<div class="mensagemCadastro w-100 d-inline-flex justify-content-center mt-4">
    <p>Não tem uma conta?</p>
    <a routerLink="/cadastro/dadosacesso" class="linkCadastro text-success ms-2">Cadastre-se</a>
</div>
<!------------------------------------------------------------------------------------ Fim do código --------------------------------------------------------------------------->
