<div class="my-2">
    <h2 class="tituloInteresses">Sugestões</h2>
</div>

<!-- Lista de sugestões de livros -->
<div *ngIf="livros?.length > 0; else noDataBlock" class="container-sm">
    <div *ngFor="let livro of livros" class="d-inline-flex flex-row flex-wrap">
        <app-caixa-livro [uid]=livro.uid [livro]=livro [mostrarDadosEmprestimo]="false" [mostrarEmprestador]="false" [mostrarLivroStatus]="false"></app-caixa-livro>
    </div>
</div>

<!-- Nenhum livro a ser exibido -->
<ng-template #noDataBlock>
    <div>
        <div class="texto-13 text-center">Nenhum livro disponível</div>
    </div>
</ng-template>