<div class="menu w-100">
    <div class="menu-bar">
        <div class="menu-btn-40" [routerLink]="['/']">
            <img src="assets/Inicio.png" />
            <div>Inicio</div>
        </div>
        <div class="menu-btn-60" [routerLink]="['/emprestimos']"  *ngIf="autenticado">
            <img src="assets/Emprestimos.png" />
            <div>Empréstimos</div>
        </div>
        <div class="menu-btn-60" [routerLink]="['/emprestados']"  *ngIf="autenticado">
            <img src="assets/Emprestados.png" style="width: 24px; height: 24px;" />
            <div>Emprestados</div>
        </div>
        <div class="menu-btn-60" [routerLink]="['/pesquisa']">
            <img src="assets/Pesquisa.png"  style="width: 24px; height: 24px;"/>
            <div>Pesquisa</div>
        </div>
        <div class="menu-btn-40" [routerLink]="['/amigos']"  *ngIf="autenticado">
            <img src="assets/Amigos.png" />
            <div>Amigos</div>
        </div>
    <!-- </div>
    <div class="menu-bar"> -->
        <div class="menu-btn-40" [routerLink]="['/favoritos']"  *ngIf="autenticado">
            <img src="assets/Favoritos.png" />
            <div>Favoritos</div>
        </div>
        <div class="menu-btn-60" [routerLink]="['/suporte']">
            <img src="assets/Suporte.png" />
            <div>Suporte</div>
        </div>
    </div>
</div>