.menu {
    border-bottom: 1px solid black;
}

.menu-bar {
    margin-top: 10px;
    text-align: center;
    font-size: 8px;    
}

.menu-bar > div:hover {
    filter: invert(28%) sepia(43%) saturate(2522%) hue-rotate(138deg) brightness(96%) contrast(97%);
    cursor: pointer;
}

.menu-selected {
    filter: invert(28%) sepia(43%) saturate(2522%) hue-rotate(138deg) brightness(96%) contrast(97%);
}

.menu-btn-40 {
    padding: 4px;
    width: 40px;
}

.menu-btn-60 {
    padding: 4px;
    width: 60px;
}

.menu-btn-80 {
    width: 80px;
}
