<!----------------------------------------------------------------------------- Parte do título e solicitação ------------------------------------------------------------------>
<div class="header mt-3 d-flex flex-column justify-content-flex-start">
    <h2 class="title mb-0">Endereço</h2>
    <p class="subtitle mt-2 mb-2">Nós precisamos de algumas informações suas para a utilização da nossa plataforma.</p>
</div>
<!------------------------------------------------------------------- Parte do formulário de solicitação de documento e nome --------------------------------------------------->
<form class="formCriarUsuario w-100 d-flex flex-column align-items-start" action="" method="post">
    <div class="divDados">
        <label class="mb-0" for="cep">CEP</label>
        <input class="caixaDeTexto shadow-sm" name="cep" type="text" placeholder="">

        <label class="mb-0" for="logradouro">Logradouro</label>
        <input class="caixaDeTexto shadow-sm" name="logradouro" type="text">

        <label class="mb-0" for="numeroRua">Número</label>
        <input class="caixaDeTexto shadow-sm" name="numeroRua" type="text">

        <label class="mb-0" for="complemento">Complemento</label>
        <input class="caixaDeTexto shadow-sm" name="complemento" type="text">

        <label class="mb-0" for="bairro">Bairro</label>
        <input class="caixaDeTexto shadow-sm" name="bairro" type="text">

        <label class="mb-0" for="cidade">Cidade</label>
        <input class="caixaDeTexto shadow-sm" name="cidade" type="text">

        <label class="mb-0" for="estado">Estado</label>
        <input class="caixaDeTexto shadow-sm" name="estado" type="text">
    </div>
</form>

<!------------------------------------------------------------ Botões para voltar para página anterior ou avançar para próxima ------------------------------------------------->
<div class="divBotoes d-inline-flex w-100">
    <a routerLink="/cadastro/dadosacesso" class="w-100 h-100"><button class="botaoAnterior mt-3 text-white" type="button">&lt; Anterior</button></a>
    <a routerLink="/cadastro/endereco" class="w-100 h-100"><button class="botaoProximo mt-3 text-white" type="button">Próximo &gt;</button></a>
</div>
<!----------------------------------------------------------------------------------- Fim do código ---------------------------------------------------------------------------->