<div class="container-sm media-w-50">
    <div class="d-flex m-2 ms-1 mb-0">
        <div class="flex-lg-shrink-1">
            <img class="iconeTituloGrande me-2" src="../assets/livroIcone.png"
                alt="Icone de um livro representando o tema do aplicativo">
        </div>
        <div class="w-100">
            <h1 class="escritaTituloGrande">Clube de Empréstimo de Livros</h1>
        </div>
    </div>

    <!-------------------------------------------------------------- Parte do "Bem vindo" e mensagem de solicitação de credenciais ------------------------------------------------->
    <div class="header mt-3 d-flex flex-column justify-content-flex-start">
        <h2 class="titulo mb-0"> Bem vindo!</h2>
        <p class="subtitulo mt-2 mb-2">Para acessar sua conta, é necessário
            entrar com suas credenciais</p>
    </div>
    <!-------------------------------------------------------------------- Parte do formulário de input de usuário e senha --------------------------------------------------------->
    <form class="formLogin w-100 d-flex flex-column align-items-start"
        name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
        novalidate>
        <label class="mb-0" for="user">Endereço de E-mail</label>
        <input class="caixaDeTexto shadow-sm" type="text" name="username"
            [(ngModel)]="form.username" required #username="ngModel">

        <label class="mb-0" for="password">Senha</label>
        <input class="caixaDeTexto shadow-sm" type="password" name="password"
            [(ngModel)]="form.password" required minlength="1"
            #password="ngModel">
        <div class="mt-1 w-100 mensagemErro text-center">{{ errorMessage }}</div>
        <!------------------------------------------------------------------------------ Botão para realizar login --------------------------------------------------------------------->
        <button class="botaoContinuar mt-3 text-white" type="submit">Continuar</button>
    </form>
    <!------------------------------------------------------------------------------- Parte do conecte-se com ---------------------------------------------------------------------->
    <div
        class="d-inline-flex container-fluid mt-4 p-1 justify-content-center align-items-center">
        <hr class="linhaTextoRedes mt-0 bg-dark">
        <p class="textoRedes ms-2 me-2">ou conecte-se com</p>
        <hr class="linhaTextoRedes mt-0 bg-dark">
    </div>
    <!-------------------------------------------------------------------- Parte dos botões para login com vinculo de conta -------------------------------------------------------->

    <div class="w-100 d-inline-flex justify-content-center">
        <button class="mx-1 btn-social">
            <i class="fa-brands fa-google"></i>&nbsp;<small>Google</small>
        </button>
        <button class="btn-block btn-social">
            <i class="fa-brands fa-apple"></i>&nbsp;<small>Apple</small>
        </button>
        <button class="mx-1 btn-block btn-social">
            <i class="fa-brands fa-facebook"></i>&nbsp;<small>Facebook</small>
        </button>
    </div>
    <!----------------------------------------------------------------- Mensagem caso não tenha cadastro e link para cadastro ------------------------------------------------------>
    <div
        class="mensagemCadastro w-100 d-inline-flex justify-content-center mt-4">
        <p>Não tem uma conta?</p>
        <a routerLink="/cadastro/acesso" class="linkCadastro text-success ms-2">Cadastre-se</a>
    </div>
    <!------------------------------------------------------------------------------------ Fim do código --------------------------------------------------------------------------->
</div>