<!----------------------------------------------------------------------------- Parte do título e solicitação ------------------------------------------------------------------>
<div class="cabecalho mt-3 d-flex flex-column justify-content-flex-start">
    <h2 class="titulo mb-0">Cadastro</h2>
    <p class="subtitulo mt-2 mb-2">Nós precisamos de algumas informações suas para a utilização da nossa plataforma.</p>
</div>
<!------------------------------------------------------------------------------- Parte do "conecte-se com" -------------------------------------------------------------------->
<div class="d-inline-flex w-100 mt-2 justify-content-center align-items-center">
    <hr class="linhaTextoRedes mt-0 bg-dark">
    <p class="textoRedes ms-2 me-2">ou conecte-se com</p>
    <hr class="linhaTextoRedes mt-0 bg-dark">
</div>
<!--------------------------------------------------------------------- Parte dos botões para login com vinculo de conta ------------------------------------------------------->
<div class="w-100 d-inline-flex justify-content-center">
    <button class="mx-1 btn-social">
        <i class="fa-brands fa-google"></i>&nbsp;<small>Google</small>
    </button>
    <button class="btn-block btn-social">
        <i class="fa-brands fa-apple"></i>&nbsp;<small>Apple</small>
    </button>
    <button class="mx-1 btn-block btn-social">
        <i class="fa-brands fa-facebook"></i>&nbsp;<small>Facebook</small> 
    </button>
</div>
<!--------------------------------------------------------------------------- Parte do "ou preencha os dados" ------------------------------------------------------------------>
<div class="d-inline-flex w-100 mt-3 justify-content-center align-items-center">
    <hr class="linhaTextoPreencha mt-0 bg-dark">
    <p class="textoRedes ms-2 me-2">ou preencha os dados</p>
    <hr class="linhaTextoPreencha mt-0 bg-dark">
</div>
<!------------------------------------------------------------------------ Parte do formulário de criação de conta ------------------------------------------------------------->
<form class="formDadosAcesso w-100 d-flex flex-column align-items-start" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3 w-100">
        <label class="mb-0" for="email">Endereço de E-mail</label>
        <input class="form-control" type="text" placeholder="joao.silva@provedor.com" formControlName="email"
            [ngClass]="{ 'is-invalid': enviado && f['email'].errors }">
        <div *ngIf="enviado && f['email'].errors" class="texto-11">
            <div *ngIf="f['email'].errors['required']" class="text-danger">E-mail requerido</div>
            <div *ngIf="f['email'].errors['email']" class="text-danger">E-mail inválido</div>
            <div *ngIf="f['email'].errors['emailJaCadastrado']" class="text-danger">E-mail já cadastrado</div>
        </div>
    </div>

    <div class="mb-3 w-100">
        <label class="mb-0" for="senha">Digite uma senha</label>
        <input type="password" placeholder="" formControlName="senha" class="form-control"
            [ngClass]="{ 'is-invalid': enviado && f['senha'].errors }">
        <div *ngIf="enviado && f['senha'].errors" class="texto-11">
            <div *ngIf="f['senha'].errors['required']" class="text-danger">Senha é obrigatória</div>
            <div *ngIf="f['senha'].errors['minlength']" class="text-danger">
                A senha deve conter pelo menos 6 caracteres
            </div>
            <div *ngIf="f['senha'].errors['maxlength']" class="text-danger">
                A senha não pode ser maior que 40 caracteres
            </div>
        </div>
    </div>

    <div class="mb-3 w-100">
        <label class="mb-0" for="confirmeSenha">Confirme a senha</label>
        <input class="form-control" type="password" formControlName="confirmeSenha"
            [ngClass]="{ 'is-invalid': enviado && f['confirmeSenha'].errors }">
        <div *ngIf="enviado && f['confirmeSenha'].errors" class="texto-11">
            <div *ngIf="f['confirmeSenha'].errors['required']" class="text-danger">
                É necessário confirmar a senha
            </div>
            <div *ngIf="f['confirmeSenha'].errors['matching']" class="text-danger">
                Senhas não conferem
            </div>
        </div>
    </div>

    <div class="divDados w-100">
        <div class="mb-3 w-100">
            <label class="mb-0" for="cpf">CPF</label>
            <input class="form-control" name="cpf" type="text" formControlName="cpf"
                [ngClass]="{ 'is-invalid': enviado && f['cpf'].errors }">
            <div *ngIf="enviado && f['cpf'].errors" class="texto-11">
                <div *ngIf="f['cpf'].errors['required']" class="text-danger">É necessário informar o CPF</div>
                <div *ngIf="f['cpf'].errors['cpfJaCadastrado']" class="text-danger">CPF já cadastrado</div>
                <div *ngIf="f['cpf'].errors['maxlength']" class="text-danger">Tamanho de CPF inválido</div>
            </div>
        </div>

        <div class="mb-3 w-100">
            <label class="mb-0" for="nome">Nome</label>
            <input class="form-control" name="nome" type="text" formControlName="nome"
                [ngClass]="{ 'is-invalid': enviado && f['nome'].errors }">
            <div *ngIf="enviado && f['nome'].errors" class="texto-11">
                <div *ngIf="f['nome'].errors['required']" class="text-danger">O nome é obrigatório</div>
            </div>
        </div>

        <div class="mb-3 w-100">
            <label class="mb-0" for="apelido">Apelido</label>
            <input class="form-control" name="apelido" type="text" formControlName="apelido"
            [ngClass]="{ 'is-invalid': enviado && f['apelido'].errors }">
            <div *ngIf="enviado && f['apelido'].errors" class="texto-11">
                <div *ngIf="f['apelido'].errors['required']" class="text-danger">O apelido é obrigatório</div>
            </div>
        </div>

    </div>
    <!------------------------------------------------------------ Campo da data de nascimento com label e select para dia, mes e ano =--------------------------------------------->
    <div class="divDataNasc w-100">
        <label class="mb-0" for="text">Data de nascimento</label>
        <input name="nascimento" type="date" class="form-control" formControlName="nascimento"
            [ngClass]="{ 'is-invalid': enviado && f['nascimento'].errors }">
        <div *ngIf="enviado && f['nascimento'].errors" class="texto-11">
            <div *ngIf="f['nascimento'].errors['required']" class="text-danger">É obrigatório informar a data de
                nascimento</div>
        </div>
    </div>
    <!----------------------------------------------------------------- Campo "Sexo" com label e select para escolher o gênero ----------------------------------------------------->
    <div class="divGenero mt-3 w-100 d-flex flex-column form-group justify-content-around">
        <label class="mb-0" for="sexo">Sexo</label>
        <select name="sexo" class="form-select" formControlName="sexo"
            [ngClass]="{ 'is-invalid': enviado && f['sexo'].errors }">
            <option value="masculino">Masculino</option>
            <option value="feminino">Feminino</option>
            <option value="lgbtqiapmais">LGBTQIAP+</option>
        </select>
    </div>
    <!-------------------------------------------------------------------------- Botão para ir para próxima página ----------------------------------------------------------------->
    <button class="botaoProximo mt-3 text-white" type="submit">Cadastrar</button>
</form>
<!--------------------------------------------------------------------- Mensagem e link para acesso caso possua conta ---------------------------------------------------------->
<div class="mensagemPossuiConta d-inline-flex justify-content-center ms-1 mt-4">
    <p>Você já tem uma conta?</p>
    <a routerLink="/login" class="linkAcesso text-success ms-2">Acesse aqui</a>
</div>
<!----------------------------------------------------------------------------------- Fim do código ---------------------------------------------------------------------------->