.debug {
    background-color: blueviolet;
}

.debug2 {
    background-color: red;
}

.mensagemErro {
    color:#A5282C;
    font-size: 12px;
}

.img-round {
    object-fit: cover;
    border-radius: 50%;
}

.img-tiny {
    width: 16px;
    height: 16px;
}

.img-small {
    width: 24px;
    height: 24px;
}

.clickable {
    cursor: pointer;
}

.texto-pequeno {
    font-size: 10px;
}

.grow0 {
	flex-grow: 0;
}

.grow1 {
	flex-grow: 1;
}

.grow2 {
	flex-grow: 2;
}
