.debug {
    background-color: blueviolet;
}

.mensagemErro {
    color:#A5282C;
    font-size: 12px;
}

.img-round {
    object-fit: cover;
    border-radius: 50%;    
}

.img-tiny {
    width: 16px;
    height: 16px;
}

.img-small {
    width: 24px;
    height: 24px;
}