<div class="caixaFlex">
    <div class="grow1 text-center">
        <div><img src="assets/Star-empty.png" class="img-tiny1"/></div>
        <div class="texto-pequeno3">Avaliar</div>
    </div>
    <div class="grow1 text-center">
        <div><img [src]="favorito" class="img-tiny1" (click)="alternarFavorito()"/></div>
        <div class="texto-pequeno3">Favoritos</div>
    </div>
    <div class="grow1 text-center">
        <div><img src="assets/compartilhar.png" class="img-tiny1"/></div>
        <div class="texto-pequeno3">Compartilhar</div>
    </div>
</div>