<div class="personal-image">
    <span class="farol farol-medium-2 bg-success"></span>
    <figure class="personal-figure">
        <img src="{{ IMG_SERVER + perfil.avatar }}" class="img-round img-medium-2" alt="avatar">
    </figure>
    <output class="nome">{{ perfil.nome }}</output>
</div>
<div class="botoesPainel d-inline-flex justify-content-between align-items-end w-100 flex-wrap">
    <div class="clickable" [routerLink]="['/amigos/chat/',perfil.uid]" *ngIf="perfil.bloqueado == 0">
        <img src="/assets/balao_chat.png" class="img-tiny2" alt="">
        <span class="mx-2 texto-13">Mensagem</span>
    </div>

    <div class="clickable">
        <img src="/assets/bloquear.png" class="img-tiny2" alt="">
        <span class="mx-2 texto-13">{{ perfil.bloqueado == 1 ? 'Desbloquear' : 'Bloquear' }}</span>
    </div>

    <div class="clickable">
        <img src="/assets/adicionarAmigo.png" class="img-tiny2" alt="">
        <span class="mx-2 texto-13">{{ perfil.amigo == 1 ? 'Remover amigo' : 'Adicionar amigo' }}</span>
    </div>

    <div class="clickable" [routerLink]="['/denuncia/',perfil.uid]">
        <img src="/assets/denuncia.png" class="img-tiny2" alt="">
        <span class="mx-2 texto-13">Denúncia</span>
    </div>
</div>

<div class="divLivros mt-4 fs-5">
    <p>Livros</p>

    <!-- Lista de sugestões de livros -->
    <div *ngIf="livros!.length > 0; else noDataBlock">
        <div *ngFor="let livro of livros">
            <app-caixa-livro [uid]=livro.uid [livro]=livro [mostrarDadosEmprestimo]="false"
                [mostrarEmprestador]="false" [mostrarBarraUsuario]="false"></app-caixa-livro>
        </div>
    </div>

    <!-- Nenhum livro a ser exibido -->
    <ng-template #noDataBlock>
        <div>
            <div class="texto-13 text-center">Nenhum livro disponível</div>
        </div>
    </ng-template>
</div>